*{
	margin: 0;
	padding: 0;
}

html{
	position: relative;
    min-height: 100%;
}

body{
	background-color:#1B1B1B;
	width: 1366px;
	margin: 0 0 100px;
	overflow-x: hidden;
    /* bottom = footer height */
}

header{  
	width: 93%;
	height: 47px;
	margin: 30px;
	margin-top: 10px;
	background-color:#000;
	border-radius: 6px;
	padding-top: 18px;
	padding-left: 35px;
	padding-right: 10px;
	padding-bottom: 7px;
}

a, span{
	color: white;
	text-decoration: none;
	font-family: Gotham,sans-serif;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #B4B4B4;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #B4B4B4;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #B4B4B4;
}

.menu_buttons{
	margin-left: 30px;
	font-size: 1.3em;
	font-family: arial;
	position: static;
	color:#fff;
    text-decoration: none;
}

.FAQ_button{
	margin-left: 0px;
	font-size: 1.3em;
	font-family: arial;
	position: relative;
	text-align: right;
	left: 370px;
	color:#fff;
    text-decoration: none;
}

.login_form{
    position: relative;
    display: inline-block;
	left: 390px;
	margin-bottom: 20px;
	bottom: 8px;
}

.login{
	background-color: #1c1c1c; /* LightGrey */
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    border: none;
    padding: 20px; 
    padding-top: 10px; 
    padding-bottom: 10px;
    position: relative;
    display: inline-block;
	transition-duration: 0.4s;
	color: white;
}

.login:hover{
	color: black;
	background-color: #fff;
}

.logout{
	width: 30px;
	height: 30px;
	position: relative;
	left: 410px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #B4B4B4;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #B4B4B4;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #B4B4B4;
}